@model DeMarco.Models.Article

@{
    ViewData["Title"] = "Odstranění";
    Layout = "_AdminLayout";
}

<p>Opravdu chcete vymazat článek <b>@Model.Title</b>?</p>

<form class="py-1" asp-action="Delete" asp-route-id="@Model.Id">
    <button class="clanky-tlacitko" type="submit">Odstranit</button>
    <a class="clanky-tlacitko" asp-action="Index">Zpět na seznam článků</a>
</form>